{% extends 'map_app/base.html' %}


{% block body_block %}
<div class="jumbotron">
  <h2>Por Favor, realize o Login:</h2>
  <h3>(Apenas para administradores)</h3>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit", class = 'btn btn-primary' value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>
{% endblock %}
