{% extends "map_app/base.html" %}

  {% block head_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <title>Mapa</title>
  {% endblock %}

  {% block body_block %}
    <div class="container-fluid" id="map"></div>

    <div class="container-fluid" id="detalhe" style="width: 200px; height: 300px; background-color: blueviolet"></div>
    
    <!-- Arquivos JavaScript-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYMMLBdCqo48P7wxBlQSDRZVUiobw-9CM&callback=initMap"async defer></script>
  {% endblock %}

</html>
