{% extends "map_app/base.html" %}

  {% block head_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <title>Mapa</title>
  {% endblock %}

  {% block body_block %}
    <div class="container-fluid" id="map"></div>
    <br>
    <div class="container-fluid" id="detalhe" style="display: none" >
      <div class="row">
          <div class="col-2"></div>

          <div class="col" id="titulo">
          </div>
    
          <div class="col-2"></div>
      </div>
      
      <div class="row">
        <div class="col-2"></div>
        
        <div class="col-2">
          <b>Nome:</b>
        </div>

        <div class="col-6" id="nome">
          
        </div>

        <div class="col-2"></div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        
        <div class="col">
            <b>Telefone:</b>
        </div>

        <div class="col">
            <b>Email:</b>
        </div>

        <div class="col">
            <b>Site:</b>
        </div>

        <div class="col-2"></div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        
        <div class="col" id="telefone"></div>
        
        <div class="col" id="email"></div>

        <div class="col" id="site"></div>

        <div class="col-2"></div>
      </div>

      <div id="despesa">
      </div>
    </div>
    
    <!-- Arquivos JavaScript-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYMMLBdCqo48P7wxBlQSDRZVUiobw-9CM&callback=initMap"async defer></script>
  {% endblock %}

</html>
